/* OVERALL SETTINGS */

@font-face {
  font-family: 'Gloock';
  src: url('./Gloock-Regular.ttf') format('tff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('./Inconsolata-VariableFont_wdth\,wght.ttf') format('tff');
}

.title_text,.subtitle_text{
  position: relative;
  display: inline-block;
  padding: 0 10px;
}

.moved {
  height: 70px;
}

.link_button {
  background-color: #560af6;
}

.link_button:hover {
  background-color: #4300d4;
}

.title_text::before {
  content: "";
  height: 20px;
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  background-color: #cf8d41;
  z-index: -2;
}
.subtitle_text::before {
  content: "";
  height: 12px;
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  background-color: #cf8d41;
  z-index: -2;
}

.title_text_side::before {
  content: "";
  height: 20px;
  position: absolute;
  top: 40px;
  width: 100%;
  background-color: #c7eaff;
  z-index: -2;
}

html,
body {
  background-color: rgba(31, 41, 55);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: none;
}

*::-webkit-scrollbar-track {
  background-color: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #c7eaff;
  border-radius: 20px;
}

/* HOME PAGE */

#background_image {
  width: 100%;
  height: 140vh;
  background-image: url("../static/images/personal_image_intro.JPG");
  background-size: cover;
  background-position: 0% 50%;
}

/* ABOUT PAGE */

#about_animation_background {
  background-image: url('./images/stars_background.jpg');
  background-size: contain;
}


#personal_image {
  /* background-position: 0% 30%; */
  background-image: url("../static/images/personal_image_intro.JPG");
  background-size: cover;
}

#about_first_part {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(31, 41, 55, 1) 30%);
}

.button_container {
  padding: 10px;
  border-bottom: 2px solid #c7eaff;
  border-left: 2px solid #c7eaff;
}

#work_experience {
  background: rgb(31,41,55);
  background: linear-gradient(180deg, rgba(31,41,55,1) 0%, rgba(31,41,55,1) 30%, rgba(255,255,255,1) 30%);
}

#interest{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 70%, rgba(31,41,55,1) 70%, rgba(31,41,55,1) 100%);
}
/* PROJECT PAGE */

.about_text_background {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

/* STICKY SNAPPING OF CARDS */

.sticky_parent {
  height: 650vh;
}

.sticky_el {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 80vh;
}

.sticky_el>h1 {
  border-bottom: 5px solid #cf8d41;
  width: 800vw;
  position: sticky;
  top: 0;
  height: auto;
}

.scroll_section {
  position: absolute;
  top: 10%;
  height: 100%;
  width: 600vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}

#main_title_project {
  margin-left: -100vw;
}

/* MAIN CARD DESIGN */
#project {
  background: rgb(31, 41, 55);
  background: linear-gradient(180deg, rgba(31, 41, 55, 1) 0%, rgba(61, 83, 113, 1) 50%, rgba(31, 41, 55, 1) 100%);
}

.project_card {
  width: 70vw;
  height: 60%;
  text-align: center;
  color: #433f3c;
  background-repeat: no-repeat;
}


@media screen and (max-width: 640px) {
  .project_card {
    width: 90vw;
    height: 90vh;
    font-size: small;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
  }

  .image {
    width: 80px;
    margin-left: -80px;
    margin-top: -90px;
  }
}

@media screen and (min-width: 768px) {
  .project_card {
    width: 50vw;
    height: 60vh;
  }

  .image {
    width: 125px;
    margin-top: -70px;
    margin-left: -50px;
  }
}

@media screen and (min-width: 1024px) {
  .image {
    width: 150px;
    margin-left: -10px;
  }
}

.project_card>h1 {
  margin-bottom: 20px;
}

.project_card>p {
  width: 80%;
}

.project_card>img {
  transform: scale(1.3);
}

/* FUTURE SECTION */
@media screen and (min-width: 640px) {
  #future {
    padding-left: 25vw;
  }
}

/* #future {
  scroll-snap-align: start;
} */

#future_selection {
  background-color: #310826;
  border: 5px solid black;
  border-top: 20px solid black;
}

#future_selection>p {
  margin-top: -21px;
}

#future_selection>span {
  margin-top: -24px;
  margin-right: 10px;
}

#future_display {
  border: 5px solid gray;
  border-top: 20px solid gray;
}

.window_title {
  margin-top: -21px;
  margin-left: -40px;
}

#future_display>span {
  margin-top: -24px;
  margin-right: 10px;
}

#cmd_input {
  background-color: #310826;
  width: 100%;
}

#cmd_input {
  outline: none;
  border: none;
}

/* CONTACT SECTION */
#contact {
  padding-left: auto;
  padding-right: 0;
}

#contact_footer {
  margin-left: -70vw;
}

.linked, .gmail, .twitter{
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
}
.linked{
  background-image: url("./images/linkedin_logo.png");
}
.gmail{
  background-image: url("./images/gmail_logo.png");
}
.twitter{
  background-image: url("./images/twitter_logo.png");
}
/* #contact_image {

  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
} */

/* FREELANCE INTRO */
#freelance_intro {
  background-image: url("./images/freelance_intro_backgroun.jpg");
  background-size: cover;
}


/* FREELANCE CONTENT */

#freelance_first_content {
  margin-bottom: 50vh;
  margin-top: 25vh;
}

#freelance_second_content {
  margin-bottom: 25vh;
}