/* OVERALL SETTINGS */

html,
body {
  background-color: rgba(31, 41, 55);
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: y proximity;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: none;
}

*::-webkit-scrollbar-track {
  background-color: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #c7eaff;
  border-radius: 20px;
}

/* HOME PAGE */

#background_image {
  width: 100%;
  height: 100%;
  background-image: url("../static/images/leafs_background.webp");
  background-size: cover;
}

/* ABOUT PAGE */

#about {
  scroll-snap-align: start;
}

#personal_image {
  background-position: 0% 30%;
  background-image: url("../static/images/test_photo.webp");
  background-size: cover;
}

/* PROJECT PAGE */
#project {
  background-image: url('./images/background_test.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about_text_background{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

/* STICKY SNAPPING OF CARDS */

.sticky_parent {
  height: 650vh;
}

.sticky_el {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
}

.scroll_section {
  position: absolute;
  top: 0;
  height: 100%;
  width: 600vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}

/* MAIN CARD DESIGN */
.project_card {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  width: 70vw;
  border-radius: 10px;
  height: 60%;
  text-align: center;
  color: #433f3c;
  background-repeat: no-repeat;
}

.image{
  width: 150px;
  margin-left: -10px;
}

@media screen and (max-width: 640px) {
  .project_card{
    width: 90vw;
    height: 90vh;
    padding-left: 2px;
    padding-right: 2px;
    font-size: small;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
  }

  .image{
    width: 80px;
    margin-left: -80px;
    margin-top: -90px;
  }
}

@media screen and (min-width: 768px) {
  .project_card{
    width: 80vw;
    height: 80vh;
  }
  .image{
    width: 125px;
    margin-top: -70px;
    margin-left: -50px;
  }
}

@media screen and (min-width: 1024px) {
  .image{
    width: 150px;
    margin-left: -10px;
  }
}


.card_bg_1{
  background-image: url('./images/card_background_11.webp');
  background-size:contain;
}

.card_bg_2{
  background-image: url('./images/card_background_2.webp');
  background-size:cover;
}

.project_card>h1 {
  margin-bottom: 20px;
}

.project_card>p {
  width: 80%;
}

.project_card>img {
  max-width: 200px;
  transform: rotate(-45deg);
  position: fixed;
  margin-right: 70vw;
  top: 100px;
}

.link_card{
  background-color: #1d6fb7;
  color: white;
}

/* FUTURE SECTION */
@media screen and (min-width: 640px) {
  #future{
    padding-left: 25vw;
  }
}

#future {
  scroll-snap-align: start;
}

#future_selection {
  background-color: #310826;
  border: 5px solid black;
  border-top: 20px solid black;
}

#future_selection>p {
  margin-top: -21px;
}

#future_selection>span {
  margin-top: -24px;
  margin-right: 10px;
}

#future_display {
  border: 5px solid gray;
  border-top: 20px solid gray;
}

.window_title {
  margin-top: -21px;
  margin-left: -40px;
}

#future_display>span {
  margin-top: -24px;
  margin-right: 10px;
}

#cmd_input {
  background-color: #310826;
  width: 100%;
}

#cmd_input{
  outline: none;
  border: none;
}

/* CONTACT SECTION */
#contact {
  scroll-snap-align: start;
  padding-left: auto;
  padding-right: 0;
  background-image: url('./images/abstract_bg.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  #contact{
    padding-left: 20vw;
  }
}