@keyframes rotateButton {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(180deg);
    }
}

.rotated {
    animation: rotateButton 1.5s;
}

.display_menu{
    animation: PopUp 0.5s linear;
}

@keyframes PopUp{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.hide_menu{
    animation: PopDown 0.5s linear;
}

@keyframes PopDown{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}

/* ABOUT PAGE */
.card-background {
    width: 100%;
    height: 100%;
}

.card_first, .card_second {
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.card_first:hover, .card_second:hover {
    transform: scale(1.1);
}

.expanded {
    width: 35%;
    position: fixed;
    z-index: 50;
    top: 40%;
    left: 30%;
    transition: 0.5s;
    transform: scale(2);
}

.expanded>p {
    font-size: 0.5rem;
    line-height: 0.75rem;
}

.expanded>h2 {
    font-size: 0.625rem;
    line-height: 0.875rem;
}

/* CARD CONTAINER */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* Apply the infinite scrolling animation to the card container */
#card_container {
    width: 200vw;
    /* animation: scroll-left 20s linear infinite; */
    overflow: hidden;
}

#card_container_right {
    width: 200vw;
    /* animation: scroll-right 20s linear infinite; */
    overflow: hidden;
}

@media screen and (max-width: 640px) {
    #card_container, #card_container_right{
        width: 400vw;
    }
}

/* Stop the animation on hover */
#card_container:hover,
#card_container_right:hover {
    animation-play-state: paused;
}


#cover-left {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}

#cover-right {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

/* FUTURE EFFECTS */
.selected {
    color: #cf8d41;
    text-decoration: underline;
}

.future_card {
    opacity: 0;
}

/* APPEAR ANIMATION */

@keyframes appearAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.future_card.appear {
    animation: appearAnimation 1s ease-in-out forwards;
}

/* CHANGE ARTICLE EFFECT */

#warning_message {
    opacity: 0;
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* CURSOR EFFECT */

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.cursor {
    animation: blink 0.7s ease-out infinite;
    width: 3px;
    height: 1.2em;
    background-color: #c7eaff;
    margin-left: 5px;
}