/* HOME PAGE */
/* .rotating-button {
    cursor: pointer;
    animation: rotateButton 1.5s;
} */

@keyframes rotateButton {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(180deg);
    }
}

.rotated {
    animation: rotateButton 1.5s;
}

/* ABOUT PAGE */
.card-background {
    width: 100%;
    height: 100%;
}

.card {
    /* background: linear-gradient(135deg, rgba(100, 230, 230, 0.5) 0%, rgba(199, 234, 255, 0.5) 100%); */
    background-image: url('./images/card-bg-r.avif');
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.1);
}

.expanded {
    width: 35%;
    position: fixed;
    z-index: 50;
    top: 40%;
    left: 30%;
    transition: 0.5s;
    transform: scale(2);
}

.expanded>p {
    font-size: 0.5rem;
    line-height: 0.75rem;
}

.expanded>h2 {
    font-size: 0.625rem;
    line-height: 0.875rem;
}

/* CARD CONTAINER */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* Apply the infinite scrolling animation to the card container */
#card_container {
    width: 200vw;
    animation: scroll-left 20s linear infinite;
    overflow: hidden;
}

#card_container_right{
    width: 200vw;
    animation: scroll-right 20s linear infinite;
    overflow: hidden;
}

/* Stop the animation on hover */
#card_container:hover, #card_container_right:hover {
    animation-play-state: paused;
}


#cover-left {
    background: rgb(31,41,55);
    background: linear-gradient(90deg, rgba(31,41,55,1) 50%, rgba(31,41,55,0) 100%);
}
#cover-right {
    background: rgb(31,41,55);
    background: linear-gradient(90deg, rgba(31,41,55,0) 0%, rgba(31,41,55,1) 100%);
} 

/* PROJECT EFFECTS */

.image {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .visible .image{
    opacity: 1;
    /* transform: translateY(0); */
  }

  
  /* FUTURE EFFECTS */
  .selected{
      color: #cf8d41;
      text-decoration: underline;
  }

.future_card{
    opacity: 0;
}

@keyframes appearAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .future_card.appear {
    animation: appearAnimation 1s ease-in-out forwards;
  }
