/*MOBILE VERSION*/
#interest {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 100%, rgba(31, 41, 55, 1) 100%, rgba(31, 41, 55, 1) 100%);
}

@media screen and (max-width: 425px) {}

/* FREELANCE CONTENT */
@media screen and (min-width: 640px) {
    #background_image {

        height: 120vh;
    }

    .project_card {
        width: 90vw;
        height: 90vh;
        font-size: small;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 10px;
    }

    .image {
        width: 80px;
        margin-left: -80px;
        margin-top: -90px;
    }
}

@media screen and (min-width: 768px) {
    .project_card {
        width: 50vw;
        height: 60vh;
    }

    .image {
        width: 125px;
        margin-top: -70px;
        margin-left: -50px;
    }
}

@media screen and (min-width: 1024px) {
    #interest {
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 70%, rgba(31, 41, 55, 1) 70%, rgba(31, 41, 55, 1) 100%);
    }

    .image {
        width: 150px;
        margin-left: -10px;
    }
}

@media screen and (max-width: 768px) {
    .title_text::before {
        height: 7px;
        bottom: 5px;
    }

    #interest {
        background: #fff;
    }

    .subtitle_text::before {
        /* content: "";
        height: 5px;*/
        bottom: 8px; 
        height: 5px;

    }

}

/* FUTURE SECTION */
@media screen and (min-width: 640px) {
    #future {
        padding-left: 25vw;
    }
}